@model ArtistViewModel

@{
    int userRoleIndicator = ViewBag.UserRoleIndicator; 
    /*
    value above is set by Ratings.Filter.RoleAdderFilter: 
    1 - user 
    2 - moderator
    3 - admin
    */
}

<style>
    .artistRow {
        background-color: #eee;
    }

    .artistRow td {
        padding: 15px;
    }

    .worksTable {
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    .workRow:hover {
        background-color: #eee;
    }
</style>

@if (Model.Artist != null)
{
    <div class="m-2">
        <div class="mb-3">
            <a asp-action="ShowArtists" class="btn btn-sm btn-outline-primary">Powrót do listy twórców</a>
        </div>
        <table class="table table-sm table-borderless worksTable">
            <tbody>
                @{ bool hasPhoto = Model.Artist.Photo != null; }
                <tr class="artistRow">
                    @if (hasPhoto)
                    {
                        <td style="width: 200px;">Zdjęcie</td>
                    }
                    <td colspan="@(hasPhoto ? "1" : "2")">
                        <h4><a>@Model.Artist.FirstName @Model.Artist.Surname</a></h4>
                        <p>@Model.Artist.Bio</p>
                        @if (userRoleIndicator >= 2)
                        {
                            <p class="float-end"><a asp-action="EditArtist" asp-route-id="@Model.Artist.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-sm btn-warning">Edytuj twórcę i utwory</a></p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @if (Model.Works != null && Model.Works.Count() > 0)
    {
        <div class="m-2">
            <table class="table table-sm table-borderless worksTable">
                <thead>
                    <tr>
                        <th>Tytuł utworu</th>
                        <th>Data wydania</th>
                        <th>Średnia ocena</th>
                        @if (userRoleIndicator >= 1)
                        {
                            <th>Akcje</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Work work in Model.Works)
                    {
                        <tr class="workRow">
                            <td><a asp-action="ShowReviews" asp-route-id="@work.Id">@work.Name</a></td>
                            <td>@work.Year</td>
                            <td>@(work.AvgRating != 0 ? work.AvgRating : "brak")</td>
                            @if (userRoleIndicator >= 1)
                            {
                                <td><a asp-action="RateAWork" asp-route-id="@work.Id" class="btn btn-sm btn-warning">Oceń</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="m-2">Na razie brak utworów w bazie...</div>
    }
}
else
{
    <div class="m-2">Na ma artysty o podanym identyfikatorze w bazie danych witryny</div>
}